<h1>Preguntas</h1>


<form action="<%= currentUrl %>" method="get">
  <input list="tags" type="text" id="tagFilterInput" name="tagFilter" placeholder="Filtrar por etiqueta..">
  <datalist id="tags">
    <% tags.forEach(tag => { %>
      <option value="<%= tag.name %>">
    <% }) %>
  </datalist>
</form>

<% if (isLogged) { %>
  <a href="<%= newQuestionPath %>" class="end">Hacer Pregunta</a>
<% } else { %>
  <div style="height: 15px"></div>
<% }%>
<div class="landing section">
  <% questions.reverse().forEach (question => { %>
    <a href="<%= buildQuestionPath(question.id) %>"><%= question.title %></a>
    <div class="in-line" style="font-size: 15px;">
      By:&nbsp <a href="<%= buildUserPath(question.user.id) %>"><%= question.user.username %></a>
      <%= question.createdAt %>
      <% if (isAdmin || isOwner(question.user.id)) { %>
        <a href="<%= buildQuestionEditPath(question.id)%>" style="padding-left: 15px">Editar</a>
      <% } %>
    </div>
    <ul class="unstyled in-line tags">
      <% question.tags.forEach (tag => { %>
        <li>
          <%= tag.name %>
        </li>
      <% }) %>
    </ul>
  <% }) %>
</div>
<!--
<div class="row">
    <% questions.reverse().forEach(question =>{ %>
        <div class="col">
            <div class="panel">
                <a href="<%= buildQuestionPath(question.id) %>"># <%= question.id %></a>
                <h4><%= question.title %></h4>
                <br />
                <%= question.content %>
                <ul class="unstyled">
                    <li><a href="<%= buildQuestionPath(question.id) %>">Ver</a></li>
                    <% if (isAdmin) { %>
                      <li><a href="<%= buildQuestionEditPath(question.id)%>">Editar</a></li>
                      <li>
                        <form action="<%= buildQuestionDeletePath(question.id) %>" method="post">
                          <input type="hidden" name="_method" value="delete" />
                          <div>
                            <input type="submit" name="delete" value="Eliminar" />
                          </div>
                        </form>
                      </li>
                    <% } %>
                </ul>
            </div>
        </div>
    <% })%>
</div> -->
