<h1>Preguntas</h1>

<a href="<%= newQuestionPath %>" class="end">Hacer Pregunta</a>
<div class="row">
    <% questions.reverse().forEach(question =>{ %>
        <div class="col">
            <div class="panel">
                <a href="<%= buildQuestionPath(question.id) %>"># <%= question.id %></a>
                <%= question.content %>
                <ul>
                    <li><a href="<%= buildQuestionPath(question.id) %>">Ver</a></li>
                    <li><a href="<%= buildQuestionEditPath(question.id)%>">Editar</a></li>
                    <li>
                        <form action="<%= buildQuestionDeletePath(question.id) %>" method="post">
                            <input type="hidden" name="_method" value="delete" />
                            <div>
                                <input type="submit" name="delete" value="Eliminar" />
                            </div>
                            </form>
                    </li>
                </ul>
            </div>
        </div>  
    <% })%>
</div>