<p>
  <ul class="unstyled in-line tags">
    <% question.tags.forEach (tag => { %>
      <li class="in-line">
        <%= tag.name %>
        <% if (isAdmin) { %>
          <form action="<%= buildTagDeletePath(tag.id) %>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <input type="hidden" name="returnPath" value="<%= returnPath %>" />
            <button class="close-icon" type="submit">X</button>
          </form>
        <% } %>
      </li>
    <% }) %>
  </ul>
  <h2><%= question.title %></h2>
  <br />
  <%= question.content %>
  <div style="font-size: 14px">
    <br />
    By <a href="<%= buildUserPath(question.user.id) %>"><%= question.user.username %></a>
    <% if (isOwnerOrAdmin) { %>
      <a href="<%= editQuestionPath %>">Editar</a>
    <% } %>
  </div>
</p>

<% if (isAdmin) { %>
  <form action="<%= createTagPath %>" method="post">
    <input type="hidden" name="questionId" value="<%= question.id %>" />
    <input type="hidden" name="returnPath" value="<%= returnPath %>" />
    <div>
      <label for="name">Nuevo Tag:</label>
      <input name="name" id="name">
      <input type="submit" name="answer" value="Crear Tag" />
    </div>
  </form>
<% } %>

<% if (currentUser) { %>
  <form action="<%= createCommentPath %>" method="post">
    <input type="hidden" name="questionId" value="<%= question.id %>" />
    <input type="hidden" name="userId" value="<%= currentUser.id %>" />
    <input type="hidden" name="returnPath" value="<%= returnPath %>" />
    <div>
      <label for="content">Tu respuesta:</label>
      <textarea name="content" id="content"></textarea>
    </div>
    <div>
      <input type="submit" name="answer" value="Responder" />
    </div>
  </form>
<% } %>

<% if (comments.length > 0) { %>
  Respuestas:
  <ul>
    <% comments.forEach(comment => { %>
      <li class="in-line">
        <a href="<%= buildCommentPath(comment.id) %>">#<%= comment.id %></a>-
        <%=  comment.user.username + ' => ' + comment.content %>
        <% if (isOwner(comment.user.id) || isAdmin) { %>
          <form action="<%= buildCommentDeletePath(comment.id) %>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <input type="hidden" name="returnPath" value="<%= returnPath %>" />
            <div>
              <input type="submit" name="delete" value="Eliminar" />
            </div>
          </form>
        <% } %>
        <br />
      </li>
    <% }) %>
  </ul>
<% } %>
