<h1>Pregunta #<%= question.id %></h1>

<p>
  <h3><%= question.title %></h3>
  <br />
  <%= question.content %>
</p>

<ul>
    <% if (isOwnerOrAdmin) { %>
      <li><a href="<%= editQuestionPath %>">Editar</a></li>
      <li>
        <form action="<%= deleteQuestionPath %>" method="post">
          <input type="hidden" name="_method" value="delete" />
          <div>
            <input type="submit" name="delete" value="Eliminar" />
          </div>
        </form>
      </li>
    <% } %>
    <li><a href="<%= backToListPath %>">Volver</a></li>
</ul>

<% if (isAdmin) { %>
  <form action="<%= createTagPath %>" method="post">
    <input type="hidden" name="questionId" value="<%= question.id %>" />
    <input type="hidden" name="returnPath" value="<%= returnPath %>" />
    <div>
      <label for="name">Nuevo Tag:</label>
      <textarea name="name" id="name"></textarea>
      <input type="submit" name="answer" value="Crear Tag" />
    </div>
  </form>
<% } %>

<% if (tags.length > 0) { %>
  Tags:
  <ul>
    <% tags.forEach(tag => { %>
      <li class="in-line">
        <%= '  ' + tag.name %>
        <% if (isAdmin) { %>
          <span style="display: inline">
            <form action="<%= buildTagDeletePath(tag.id) %>" method="post">
              <input type="hidden" name="_method" value="delete" />
              <input type="hidden" name="returnPath" value="<%= returnPath %>" />
              <div>
                <input type="submit" name="delete" value="Eliminar" />
              </div>
            </form>
          </span>
        <% } %>
        <br />
      </li>
    <% }) %>
  </ul>
<% } %>

<% if (currentUser) { %>
  <form action="<%= createCommentPath %>" method="post">
    <input type="hidden" name="questionId" value="<%= question.id %>" />
    <input type="hidden" name="userId" value="<%= currentUser.id %>" />
    <input type="hidden" name="returnPath" value="<%= returnPath %>" />
    <div>
      <label for="content">Tu respuesta:</label>
      <textarea name="content" id="content"></textarea>
    </div>
    <div>
      <input type="submit" name="answer" value="Responder" />
    </div>
  </form>
<% } %>

<% if (comments.length > 0) { %>
  Respuestas:
  <ul>
    <% comments.forEach(comment => { %>
      <li class="in-line">
        <a href="<%= buildCommentPath(comment.id) %>">#<%= comment.id %></a>-
        <%=  comment.user.username + ' => ' + comment.content %>
        <% if (isOwner(comment.user.id) || isAdmin) { %>
          <form action="<%= buildCommentDeletePath(comment.id) %>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <input type="hidden" name="returnPath" value="<%= returnPath %>" />
            <div>
              <input type="submit" name="delete" value="Eliminar" />
            </div>
          </form>
        <% } %>
        <br />
      </li>
    <% }) %>
  </ul>
<% } %>
