<form method="POST" action="<%= submitExcercisePath %>">
  <%if (!excercise.isNewRecord) { %>
    <input type="hidden" name="_method" value="patch" />
  <% }%>
  <% if (locals.returnPath) { %>
    <input type="hidden" name="returnPath" value="<%= returnPath %>" />
  <% } %>
  <% if (locals.guide) { %>
    <input type="hidden" name="guideId" value="<%= guide.id %>" />
  <% } %>
  <input type="hidden" name=userId value="<%= currentUser.id %>" />
  <div>
    <label for="content">Contenido</label>
    <textarea name="content" id="content"><%= excercise.content %></textarea>
  </div>
  <div>
    <button type="submit">
      <%if (excercise.isNewRecord) { %>
        Crear
      <% } else { %>
        Actualizar
      <% } %>
    </button>
  </div>
</form>
