<h1>Ejercicios</h1>

<% if (isLogged) { %>
  <a class="end" href="<%= newExcercisePath %>">Crear Ejercicio</a>
<% } %>
<div class="row">
    <% excercises.reverse().forEach(e =>{ %>
        <div class="col-fill">
            <div class="panel">
                <a href="<%= buildExcercisePath(e.id) %>">#<%= e.id %></a>
                <%= e.content %>
                <ul>
                    <li><a href="<%= buildExcercisePath(e.id) %>">Ver</a></li>
                    <% if (isAdmin) { %>
                      <li><a href="<%= buildExcerciseEditPath(e.id)%>">Editar</a></li>
                      <li>
                        <form action="<%= buildExcerciseDeletePath(e.id) %>" method="post">
                          <input type="hidden" name="_method" value="delete" />
                          <div>
                            <input type="submit" name="delete" value="Eliminar" />
                          </div>
                        </form>
                      </li>
                    <% } %>
                </ul>
            </div>
        </div>
    <% })%>
</div>
