<h1>Ejercicios</h1>


<form action="<%= currentUrl %>" method="get">
  <input list="tags" type="text" id="tagFilterInput" name="tagFilter" placeholder="Filtrar por etiqueta..">
  <datalist id="tags">
    <% tags.forEach(tag => { %>
      <option value="<%= tag.name %>">
    <% }) %>
  </datalist>
</form>

<div class="landing section">
  <% excercises.reverse().forEach (excercise => { %>
    <a href="<%= buildExcercisePath(excercise.id) %>"><%= excercise.content %></a>
    <p><%= excercise.guide.title %></p>
    <div class="in-line" style="font-size: 15px;">
      By:&nbsp <a href="<%= buildUserPath(excercise.user.id) %>"><%= excercise.user.username %></a>
      <%= excercise.createdAt %>
      <% if (isAdmin || isOwner(excercise.user.id)) { %>
        <a href="<%= buildExcerciseEditPath(excercise.id)%>" style="padding-left: 15px">Editar</a>
      <% } %>
    </div>
    <ul class="unstyled in-line tags">
      <% excercise.tags.forEach (tag => { %>
        <li>
          <%= tag.name %>
        </li>
      <% }) %>
    </ul>
  <% }) %>
</div>
