<h1>Ejercicio #<%= excercise.id %></h1>

<p>
    <%= excercise.content %>
</p>

<ul>
    <li><a href="<%= editExcercisePath %>">Editar</a></li>
    <li><form action="<%= deleteExcercisePath %>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <div>
                <input type="submit" name="delete" value="Eliminar" />
            </div>
            </form>
        </div>
            </li>
    <li><a href="<%= backToList %>">Volver</a></li>
</ul>

<% if (comments.length > 0) { %>
  Respuestas:
  <ul>
    <% comments.forEach(comment => { %>
      <li>
        <%=  'id: ' + comment.id + ' => ' + comment.content %>
        <br />
      </li>
    <% }) %>
  </ul>
<% } %>
