<h1></h1>
<a href="<%= backToListPath %>">Volver</a>
<% if (excercise.guideId) { %>
  <a href="<%= backToGuidePath %>">Ir a guia</a>
<% } %>
<h1>Ejercicio #<%= excercise.id %></h1>

<p>
    <%= excercise.content %>
</p>

<ul>
  <% if (isOwnerOrAdmin) { %>
    <li><a href="<%= editExcercisePath %>">Editar</a></li>
    <li>
      <form action="<%= deleteExcercisePath %>" method="post">
        <input type="hidden" name="_method" value="delete" />
        <div>
          <input type="submit" name="delete" value="Eliminar" />
        </div>
      </form>
    </li>
  <% } %>
</ul>

<% if (isAdmin) { %>
  <form action="<%= createTagPath %>" method="post">
    <input type="hidden" name="excerciseId" value="<%= excercise.id %>" />
    <input type="hidden" name="returnPath" value="<%= returnPath %>" />
    <div>
      <label for="name">Nuevo Tag:</label>
      <textarea name="name" id="name"></textarea>
      <input type="submit" name="answer" value="Crear Tag" />
    </div>
  </form>
<% } %>

<% if (tags.length > 0) { %>
  Tags:
  <ul>
    <% tags.forEach(tag => { %>
      <li class="in-line">
        <%= '  ' + tag.name %>
        <% if (isAdmin) { %>
          <span style="display: inline">
            <form action="<%= buildTagDeletePath(tag.id) %>" method="post">
              <input type="hidden" name="_method" value="delete" />
              <input type="hidden" name="returnPath" value="<%= returnPath %>" />
              <div>
                <input type="submit" name="delete" value="Eliminar" />
              </div>
            </form>
          </span>
        <% } %>
        <br />
      </li>
    <% }) %>
  </ul>
<% } %>


<% if (currentUser) { %>
  <form action="<%= createCommentPath %>" method="post">
    <input type="hidden" name="excerciseId" value="<%= excercise.id %>" />
    <input type="hidden" name="userId" value="<%= currentUser.id %>" />
    <input type="hidden" name="returnPath" value="<%= returnPath %>" />
    <div>
      <label for="content">Tu respuesta:</label>
      <textarea name="content" id="content"></textarea>
    </div>
    <div>
      <input type="submit" name="answer" value="Responder" />
    </div>
  </form>
<% } %>

<% if (comments.length > 0) { %>
  Respuestas:
  <ul>
    <% comments.forEach(comment => { %>
      <li class="in-line">
        <%=  comment.user.username + ' => ' + comment.content %>
        <% if (isOwner(comment.user.id) || isAdmin) { %>
          <form action="<%= buildCommentDeletePath(comment.id) %>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <input type="hidden" name="returnPath" value="<%= returnPath %>" />
            <div>
              <input type="submit" name="delete" value="Eliminar" />
            </div>
          </form>
        <% } %>
        <br />
      </li>
    <% }) %>
  </ul>
<% } %>
