<form method="POST" action="<%= submitCommentPath %>">
  <%if (!comment.isNewRecord) { %>
    <input type="hidden" name="_method" value="patch" />
  <% }%>
  <!-- <div>
    <label for="userId">Id del usuario:</label>
    <textarea name="userId" id="userId"><%= comment.userId %></textarea>
  </div>
  <div>
    <label for="commentId">Id del comentario:</label>
    <textarea name="commentId" id="commentId"><%= comment.commentId %></textarea>
  </div>
  <div>
    <label for="questionId">Id de la pregunta:</label>
    <textarea name="questionId" id="questionId"><%= comment.questionId %></textarea>
  </div>
  <div>
    <label for="excerciseId">Id del ejercicio:</label>
    <textarea name="excerciseId" id="excerciseId"><%= comment.excerciseId %></textarea>
  </div> -->
  <div>
    <label for="content">Contenido</label>
    <textarea name="content" id="content"><%= comment.content %></textarea>
  </div>
  <div>
    <button type="submit">
      <%if (comment.isNewRecord) { %>
        Crear
      <% } else { %>
        Actualizar
      <% } %>
    </button>
  </div>
</form>
