<h1>Comentarios</h1>

<a href="<%= newCommentPath %>">Hacer Comentario</a>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th></th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <% comments.forEach(comment =>{ %>
            <tr>
                <td><a href="<%= buildCommentPath(comment.id) %>"><%= comment.id %></a></td>
                <td><%= comment.content %></td>
                <td>
                    <ul>
                        <li><a href="<%= buildCommentPath(comment.id) %>">Ver</a></li>
                        <li><a href="<%= buildCommentEditPath(comment.id)%>">Editar</a></li>
                        <li>
                            <form action="<%= buildCommentDeletePath(comment.id) %>" method="post">
                                <input type="hidden" name="_method" value="delete" />
                                <div>
                                    <input type="submit" name="delete" value="Eliminar" />
                                </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </td>
            </tr>
        <% })%>
    </tbody>
</table>
