<h1>Archivos</h1>

<a class="end" href="<%= newFilePath %>">Crear Archivo</a>
<div class="row">
    <% files.reverse().forEach(e =>{ %>
        <div class="col-fill">
            <div class="panel">
                <a href="<%= buildFilePath(e.id) %>">#<%= e.id %></a>
                <%= e.path %>
                <ul>
                    <li><a href="<%= buildFilePath(e.id) %>">Ver</a></li>
                    <li><a href="<%= buildFileEditPath(e.id)%>">Editar</a></li>
                    <li>
                        <form action="<%= buildFileDeletePath(e.id) %>" method="post">
                            <input type="hidden" name="_method" value="delete" />
                            <div>
                                <input type="submit" name="delete" value="Eliminar" />
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    <% })%>
</div>
