<div class="row">
  <div class="col-fill">
    <div class="panel">
      <h1>Hello world</h1>
  
      <p>
        App web version
        <%= appVersion %>
      </p>
    </div>
  </div>
  <div class="col-fill">
      <div class="panel">
        <h1>Hello world</h1>
    
        <p>
          App web version
          <%= appVersion %>
        </p>
      </div>
    </div>
    <div class="col">
        <div class="panel">
          <h1>Hello world</h1>
      
          <p>
            App web version
            <%= appVersion %>
          </p>
        </div>
      </div>
      <div class="col">
          <div class="panel">
            <h1>Hello world</h1>
        
            <p>
              App web version
              <%= appVersion %>
            </p>
          </div>
        </div>
        <div class="col-fill">
            <div class="panel">
              <h1>Hello world</h1>
          
              <p>
                App web version
                <%= appVersion %>
              </p>
            </div>
          </div>
</div>