<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>SG Fundamentals</title>
    <link href="/css/main.css" type="text/css" rel="stylesheet">
  </head>

  <body>

    <% if (locals.error) { %>
      <div class="error">
        (!!) <%= error %>
      </div>
    <% } %>

    <div class="nav">
      <div class="nav-section">
        <a class="nav-link" href="/">Inicio</a>
        <a class="nav-link" href="<%= excercisesPath %>">Ejercicios</a>
        <a class="nav-link" href="<%= questionsPath %>">Preguntas</a>
        <a class="nav-link" href="<%= commentsPath %>">Comentarios</a>
        <a class="nav-link" href="<%= usersPath %>">Usuarios</a>
      </div>
      <div class="nav-section">
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
      </div>
    </div>
    <div class="wrapper">
    <%- body %>
    </div>
    <div class="footer">
      <h1>Footer</h1>
    </div>
  </body>

</html>
