</html>
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>SG Fundamentals</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="/assets/styles.css">
    <% } %>
    <link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.2.5/dist/instantsearch.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.2.5/dist/instantsearch-theme-algolia.min.css">
  </head>

  <body>

    <div class="nav">
      <div class="nav-section">
        <a class="nav-link <%= currentUrl == "/" ? "active" : "" %>"
          href="/">Inicio
        </a>
        <a class="nav-link <%= currentUrl.substr(0,excercisesPath.length) == excercisesPath ? "active" : "" %>"
          href="<%= excercisesPath %>">Ejercicios
        </a>
        <a class="nav-link <%= currentUrl.substr(0,questionsPath.length) == questionsPath ? "active" : "" %>"
          href="<%= questionsPath %>">Preguntas
        </a>
        <a class="nav-link <%= currentUrl.substr(0,guidesPath.length) == guidesPath ? "active" : "" %>"
          href="<%= guidesPath %>">Guias
        </a>
        <% if (isAdmin) { %>
          <a class="nav-link <%= currentUrl.substr(0,commentsPath.length) == commentsPath ? "active" : "" %>"
            href="<%= commentsPath %>">Comentarios
          </a>
          <a class="nav-link <%= currentUrl.substr(0,usersPath.length) == usersPath ? "active" : "" %>"
            href="<%= usersPath %>">Usuarios
          </a>
          <a class="nav-link <%= currentUrl.substr(0,reportsPath.length) == reportsPath ? "active" : "" %>"
            href="<%= reportsPath %>">Reportes
          </a>
          <% } %>
      </div>
      <div class="nav-section">
        <!-- <div>
          <form action="<%= searchPath %>" method="get">
            <input type="text" name="query" value="<%= typeof query === 'undefined' ? "" : query %>"/>
            <input type="submit" value="Buscar" />
          </form>
        </div> -->
        <div id="search-box">
          <!-- SearchBox widget will appear here -->
        </div>
        <% if(currentUser){ %>
          <p class="nav-text"> Hola <%= currentUser.username %></p>
          <a class="nav-link <%= currentUrl.substr(0,buildUserPath(currentUser.id).length) == buildUserPath(currentUser.id) ? "active" : "" %>" href="<%= buildUserPath(currentUser.id) %>">Perfil</a>
          <form action="<%= signOutPath %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="nav-link">Logout</button>
          </form>
        <% }else{ %>
        <a class="nav-link <%= currentUrl.substr(0,signInPath.length) == signInPath ? "active" : "" %>" href="<%= signInPath %>">Sign In</a>
        <a class="nav-link <%= currentUrl.substr(0,signUpPath.length) == signUpPath ? "active" : "" %>" href="<%= signUpPath %>">Sign Up</a>
        <% } %>
      </div>
    </div>
    <% if (locals.error) { %>
      <div class="error hideable" id="error_message">
          <p>(!!) <%= error %></p>
          <p id="close">X</p>
      </div>
    <% } %>
    <div class="wrapper">
      <div id="hits">
        <!-- Hits widget will appear here -->
      </div>
    <%- body %>
    </div>
    <div class="footer">
      <h1>  </h1>
    </div>
    <script src="/assets/app.js"></script>
    <script src="/assets/appReact.js"></script>
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.2.5/dist/instantsearch.min.js"></script>
    <script>
      const search = instantsearch({
        appId: '<%= algolia.appId %>',
        apiKey: '<%= algolia.apiKey %>',
        indexName: '<%= algolia.indexName%>',
        urlSync: true
      });

      search.addWidget(
        instantsearch.widgets.searchBox({
          container: '#search-box',
          placeholder: 'Buscar'
        })
      );

      search.addWidget(
        instantsearch.widgets.hits({
          container: '#hits',
          templates: {
            empty: '',
            item: '<div class="comment-box"><a href="{{{url}}}">{{{type}}}:</a>{{{_highlightResult.title.value}}} {{{_highlightResult.content.value}}}</div>',
          },
        })
      );

      search.start();
    </script>
  </body>

</html>
