<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>IIC2513 - CHANGE-ME</title>
    <link href="/css/main.css" type="text/css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>
  </head>

  <body>

    <% if (locals.error) { %>
      <div class="error">
        (!!) <%= error %>
      </div>
    <% } %>

    <div class="nav">
      <div class="nav-section">
        <a class="nav-link <%= currentUrl == "/" ? "active" : "" %>" 
          href="/">Inicio
        </a>
        <a class="nav-link <%= currentUrl.substr(0,excercisesPath.length) == excercisesPath ? "active" : "" %>" 
          href="<%= excercisesPath %>">Ejercicios
        </a>
        <a class="nav-link <%= currentUrl.substr(0,questionsPath.length) == questionsPath ? "active" : "" %>" 
          href="<%= questionsPath %>">Preguntas
        </a>
        <a class="nav-link <%= currentUrl.substr(0,commentsPath.length) == commentsPath ? "active" : "" %>" 
          href="<%= commentsPath %>">Comentarios
        </a>
        <a class="nav-link <%= currentUrl.substr(0,usersPath.length) == usersPath ? "active" : "" %>" 
          href="<%= usersPath %>">Usuarios
        </a>
      </div>
      <div class="nav-section">
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
      </div>
    </div>
    <div class="wrapper">
    <%- body %>
    
    </div>
    <div class="footer">
      <h1>Footer</h1>
    </div>
  </body>

</html>
