<h2> <%= user.username %> </h2>

<ul>
  <li>
      Id: <%= user.id %>
  </li>
  <li>
      Usuario: <%= user.username %>
  </li>
  <li>
      Contraseña: <%= user.password %>
  </li>
  <li>
      Mail: <%= user.email %>
  </li>
  <li>
    Rol: <% roles.forEach((role) => { %>
      <%= role.tag + ' ' %>
    <% }) %>
  </li>
</ul>
