<h1>Guias</h1>
<form action="<%= currentUrl %>" method="get">
  <input list="tags" type="text" id="tagFilterInput" name="tagFilter" placeholder="Filtrar por etiqueta..">
  <datalist id="tags">
    <% tags.forEach(tag => { %>
      <option value="<%= tag.name %>">
    <% }) %>
  </datalist>
</form>

<% if (isLogged) { %>
  <a href="<%= newGuidePath %>" class="end">Nueva Guía</a>
<% } else { %>
  <div style="height: 15px"></div>
<% }%>
<div class="landing section">
  <% guides.reverse().forEach (guide => { %>
    <a href="<%= buildGuidePath(guide.id) %>"><%= guide.title %></a>
    <div class="in-line" style="font-size: 15px;">
      By:&nbsp <a href="<%= buildUserPath(guide.user.id) %>"><%= guide.user.username %></a>
      <%= guide.createdAt %>
      <% if (isAdmin || isOwner(guide.user.id)) { %>
        <a href="<%= buildGuideEditPath(guide.id)%>" style="padding-left: 15px">Editar</a>
      <% } %>
    </div>
    <ul class="unstyled in-line tags">
      <% guide.tags.forEach (tag => { %>
        <li>
          <%= tag.name %>
        </li>
      <% }) %>
    </ul>
  <% }) %>
</div>
