<ul class="unstyled in-line tags">
  <% guide.tags.forEach (tag => { %>
    <li class="in-line">
      <%= tag.name %>
      <% if (isAdmin) { %>
        <form action="<%= buildTagDeletePath(tag.id) %>" method="post">
          <input type="hidden" name="_method" value="delete" />
          <input type="hidden" name="returnPath" value="<%= returnPath %>" />
          <button class="close-icon" type="submit">X</button>
        </form>
      <% } %>
    </li>
  <% }) %>
</ul>

<% if (isAdmin) { %>
  <form action="<%= createTagPath %>" method="post">
    <input type="hidden" name="guideId" value="<%= guide.id %>" />
    <input type="hidden" name="returnPath" value="<%= returnPath %>" />
    <div>
      <label for="name">Nuevo Tag:</label>
      <input name="name" id="name" />
      <input type="submit" name="answer" value="Crear Tag" />
    </div>
  </form>
<% } %>

<div class="row nowrap start">
  <%- include("../votes/_voting", { votes: guide.votes, resource: 'guide', id: guide.id }) %>
  <h2><%= guide.title %></h2>
</div>

<ul>
  <% guide.files.forEach((file) => { %>
    <li class="in-line"><%= file.filename %>
      &nbsp
      <a href="<%= buildFileDownloadPath(file.filename) %>">Download</a>
      &nbsp
      <form action="<%= buildFileDeletePath(file.id) %>" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input type="hidden" name="returnPath" value="<%= returnPath %>" />
        <button class="delete-button" type="submit">Eliminar</button>
      </form>
    </li>
  <% })
  if (guide.files.length < 1) { %>
    <%- include('../files/_form') %>
  <% } %>
</ul>

<div style="font-size: 14px">
  By <a href="<%= buildUserPath(guide.user.id) %>"><%= guide.user.username %></a>
  <% if (isOwnerOrAdmin) { %>
    <a href="<%= editGuidePath %>">Editar</a>
  <% } %>
</div>


<% if (currentUser) { %>
  Agregar ejercicio:
  <%- include('../excercises/_form') %>
<% } %>

Ejercicios:
<% excercises.forEach (guide_excercise => { %>
  <div class="comment-box">
    <div class="in-line">
      <div class="comment-content" style="margin-right: 20px">
        <a href="<%= buildExcercisePath(guide_excercise.id) %>"><%= guide_excercise.content %></a>
        <div class="in-line" style="margin-top: 10px; font-size: 14px">
          By:&nbsp <a href="<%= buildUserPath(guide_excercise.user.id) %>"><%= guide_excercise.user.username %></a>
          &nbsp <%= guide_excercise.createdAt %>
          <% if (isAdmin || isOwner(guide_excercise.user.id)) { %>
            <a href="<%= buildExcerciseEditPath(guide_excercise.id) %>">Editar</a>
            <form action="<%= buildExcerciseDeletePath(guide_excercise.id) %>" method="post">
              <input type="hidden" name="_method" value="delete" />
              <input type="hidden" name="returnPath" value="<%= returnPath %>" />
              <button class="delete-button" type="submit">Eliminar</button>
            </form>
          <% } %>
        </div>
      </div>
    </div>
  </div>
<% }) %>



<!-- <h1>Guia #<%= guide.id %></h1>

<p>
    <%= guide.title %>
</p>

<ul>
  <% if (isOwnerOrAdmin) { %>
    <li><a href="<%= editGuidePath %>">Editar</a></li>
    <li>
      <form action="<%= deleteGuidePath %>" method="post">
        <input type="hidden" name="_method" value="delete" />
        <div>
          <input type="submit" name="delete" value="Eliminar" />
        </div>
      </form>
    </li>
  <% } %>
    <li><a href="<%= backToListPath %>">Volver</a></li>
</ul>

<% if (isAdmin) { %>
  <form action="<%= createTagPath %>" method="post">
    <input type="hidden" name="guideId" value="<%= guide.id %>" />
    <input type="hidden" name="returnPath" value="<%= returnPath %>" />
    <div>
      <label for="name">Nuevo Tag:</label>
      <textarea name="name" id="name"></textarea>
      <input type="submit" name="answer" value="Crear Tag" />
    </div>
  </form>
<% } %>

<% if (tags.length > 0) { %>
  Tags:
  <ul>
    <% tags.forEach(tag => { %>
      <li class="in-line">
        <%= '  ' + tag.name %>
        <% if (isAdmin) { %>
          <span style="display: inline">
            <form action="<%= buildTagDeletePath(tag.id) %>" method="post">
              <input type="hidden" name="_method" value="delete" />
              <input type="hidden" name="returnPath" value="<%= returnPath %>" />
              <div>
                <input type="submit" name="delete" value="Eliminar" />
              </div>
            </form>
          </span>
        <% } %>
        <br />
      </li>
    <% }) %>
  </ul>
<% } %>

<% if (isOwnerOrAdmin) { %>
  Añadir ejercicio:
  <%- include('../excercises/_form') %>
<% } %>

<% if (excercises.length > 0) { %>
  Ejercicios:
  <ul>
    <% excercises.forEach(excercise2 => { %>
      <li class="in-line">
        <a href="<%= buildExcercisePath(excercise2.id) %>">#<%= excercise2.id %></a>
        -<%= excercise2.content %>
        <% if (isOwnerOrAdmin) { %>
          <a href="<%= buildExcerciseEditPath(excercise2.id) %>">Editar</a>
          <form action="<%= buildExcerciseDeletePath(excercise2.id) %>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <input type="hidden" name="returnPath" value="<%= returnPath %>" />
            <div>
              <input type="submit" name="delete" value="Eliminar" />
            </div>
          </form>
        <% } %>
        <br />
      </li>
    <% }) %>
  </ul>
<% } %> -->
